<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sucursales</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/panel.css') }}">

</head>

<body>

<div class="dashboard-page">

<h1>SUCURSALES</h1>

<div class="grid-box">

<div class="card-box">
<h2>Quilmes - Alem</h2>
<p>Activa</p>
</div>

<div class="card-box">
<h2>Quilmes - Mitre</h2>
<p>Activa</p>
</div>

<div class="card-box">
<h2>Quilmes - Rivadavia</h2>
<p>Activa</p>
</div>

<div class="card-box">
<h2>Solano - 844</h2>
<p>Activa</p>
</div>

<div class="card-box">
<h2>Solano - 845</h2>
<p>Activa</p>
</div>

</div>

<script src="{{ url_for('static', filename='js/sucursales.js') }}"></script>

</body>
</html>